
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 1200px; 
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
}

.titulo {
  padding: 10px;
  font-family: "Rubik", sans-serif;
  color: black;
}

.content {
  margin-bottom: 40px;
}

.image-container {
  justify-content: center;
  margin: 20px 0;
}

.imagen {
  max-width: 100%;
  height: auto;
}

p {
  padding: 15px;
  text-align: center;
  margin: 0 auto;
}

h2 {
  padding: 20px;
  text-align: center;
}

.form-section {
  margin-top: 40px;
}

.form-container {
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
  max-width: 600px; 
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #007bff !important;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: violet !important;
}
